sudo: false
language: node_js
node_js:
  - '8'
script: npm run build
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
# deploy:
#   local_dir: $PUBLICFOLDER
#   provider: pages
#   skip_cleanup: true
#   github_token: $GITHUB_TOKEN
#   on:
#     branch: master